.zsl-bg-pink {
	background:#fa5553;
}
.zsl-bg-sky-blue {
	background:#1fb8fe;
}
.zsl-color-white {
	color:#FFFFFF;
}
.zsl-color-black {
	color:#000;
}
.zsl-color-blue {
	color:blue;
}
.zsl-color-red {
	color:red;
}
.zsl-color-dark {
	color:#888;
}